.restaurant {
    width: 150px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    border: #ddd solid 3px;
    border-radius: 6px;
    margin: 5px;
}
img {
    width: 140px;
    height: auto;
}
#restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#console {
    font-family: monospace;
}